body {
  margin: 0;
  left: 0;
  right: 0;
  background-color: rgb(151, 67, 67);
}
.App {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  color: white;
}

.TodoisContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.DeleteButton {
  position: relative;
  background: rgb(0, 154, 206);
  color: white;
  padding: 0px 4em;
  border-radius: 10px;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 600;
  margin-top: 5em;
  cursor: pointer;
  opacity: 0.6;
  transition: all 100ms ease-in-out;
  border: none;
  outline: none;
}

.TodoTitle {
  background: rgb(197, 168, 6);
  color: white;
  width: 50%;
  padding: 1em 3em;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  opacity: 0.8;
  transition: all 100ms ease-in-out;
}

.DeleteButton:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: all 200ms ease-in-out;
}

.DeleteButton:active {
  background-color: blue;
}

.TodoTitle:hover {
  opacity: 1;
  transform: scale(1.1);
  transition: all 200ms ease-in-out;
}

.TodoTitle:focus {
  color: green;
}
